@import "tailwindcss";

html, body, #root {
  height: 100%;
  background-color: black;
  overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cinzel Decorative', serif;
}

.enter-message {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.enter-message.fade-out {
  opacity: 0;
}


